/* @import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&family=Roboto+Mono:wght@300&display=swap');

body,
html {
  font-family: 'Roboto Mono', monospace;
}

.app-container {
  border: 5px solid red;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
}

.logo-container {
  /* font-family: 'Square Peg', cursive;
  font-size: xx-large; */
  font-family: 'Playfair Display', serif;
}

.logo-container .robots {
  color: lightslategrey;
}

.logo-container .love {
  color: pink;
}

.logo-container .period {
  color: black;
}

.logo-container .to {
  color: greenyellow;
}

.greetings {
  text-align: center;
}

.welcome {
  text-align: center;
}

.ask {
  text-align: center;
}
